.AdminUploadFile_body{
    background-color: #F5F5F5;
    width: 500px;
    height: 500px;
    border-radius: 15px;
}
.AdminUploadFile_text{
    display: flex;
   padding-top: 160px;
   padding-bottom: 70px;
    justify-content: center;
    align-items: center;
    color: #8092B5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: .7rem;
    font-weight: bold;
    letter-spacing: -1px;
}
.AdminUploadFile_button{
    display: flex;
    /* background-color: #8833FF; */
    border: none;
    justify-content: center; 
    align-items: center;
    
}
.AdminUploadFile_button button{
    display: flex;
    padding: 30px;
background-color:#8833FF;
border-radius: 50%;
border: none;

}